<div id="players_container">
  <ol id="players_list">
    <li *ngFor="let character of charStatsList; index as i"
       class="player_card" id="{{ 'player_card_' + i }}"> <div class="name">{{character.name}}</div>
       <app-consumables *ngIf="charStatsForm[i]" [currentChar]="character" [parentStatsForm]="charStatsForm[i]"></app-consumables>
       <div class="screw top left"></div>
       <div class="screw top right"></div>
       <div class="screw bottom left"></div>
       <div class="screw bottom right"></div>
       <app-roll-info [parentEnabledGM]="enableGM" [charName]="character.name"></app-roll-info>
    </li>
  </ol>
  <div class="rotate_container">
    <p class="rotate" id="rotate_left" onclick="rotate_left()"></p>
    <p class="rotate" id="rotate_right" onclick="rotate_right()"></p>
  </div>
  <div class="gm_checkbox">
    <mat-checkbox [formControl]="enableGM">I am the GM</mat-checkbox>
  </div>
</div>

