.player_stats {
  font-weight: normal;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 4px;
  border-radius: 16px;
  background: #66aeff;
  margin-top: 10px;
  padding: 10px;
}

.stat_invisible {
  color: #ffffff00;
}

