<div class="name">{{currentChar.name}}
<!-- ngModel ties it directly to the change the currentChar! no further action needed!-->
<select [(ngModel)]="currentChar" (change)="onCharChange()">
     <option *ngFor="let char of charList"
       [ngValue]="char">
       <div>{{char.name}}</div>
     </option>
   </select>
</div>
<form class="player_stats" [formGroup]="statForm">
    <label class="top_header"></label>
    <label class="top_header">max</label>
    <label class="top_header">cur</label>
    <label>Might</label>
    <input class="stat" type="number" value="{{currentChar.might.maxValue}}" 
           formControlName="mightMax" min="0">
    <input class="stat" type="number" value="{{currentChar.might.currentValue}}"
           formControlName="mightCur" min="0">
    <label>Speed</label>
    <input class="stat" type="number" value="{{currentChar.speed.maxValue}}"
          formControlName="speedMax" min="0">
    <input class="stat" type="number" value="{{currentChar.speed.currentValue}}"
          formControlName="speedCur" min="0">
    <label>Intellect</label>
    <input class="stat" type="number" value="{{currentChar.intellect.maxValue}}"
          formControlName="intellectMax" min="0">
    <input class="stat" type="number" value="{{currentChar.intellect.currentValue}}"
         formControlName="intellectCur" min="0">
    <div class="stat_invisible">-</div>
    <div></div>
    <div></div>
    <label>Stress</label>
    <input class="stat" type="number" value="{{currentChar.stress.maxValue}}"
         formControlName="stressMax" min="0">
    <input class="stat" type="number" value="{{currentChar.stress.currentValue}}"
         formControlName="stressCur" min="0">
    <label>Mental</label>
    <input class="stat" type="number" value="{{currentChar.mental.maxValue}}"
         formControlName="mentalMax" min="0">
    <input class="stat" type="number" value="{{currentChar.mental.currentValue}}"
         formControlName="mentalCur" min="0">
     <button class="rest wide" type="button" (click)="rest()">
          Rest ({{currentChar.timesRested}})
          <ng-container *ngIf="pointsToAllocate > 0"> Allocate: {{pointsToAllocate}}</ng-container>
     </button>
</form>