<div *ngFor="let character of charCons" class="card-container">
    <div class="card">
        <span>

            <h2>{{character.name}}</h2>

            <mat-grid-list cols="2" rowHeight="130px" style="width:300px">
                <mat-grid-tile [colspan]=1 [rowspan]=1 [style.background]="'lightgreen'">
                    <md-content>
                        <div>Max / Current</div>
                        <br />
                        <!-- <div>Might: {{character.might}}</div>
            <br />
            <div>Speed: {{character.speed}}</div>
            <br />
            <div>Intellect: {{character.intellect}}</div> -->
                    </md-content>
                </mat-grid-tile>
                <mat-grid-tile [colspan]=1 [rowspan]=1 [style.background]="'lightgreen'">
                    <md-content>
                        <br />
                        <!-- <div>Stress: {{character.stress}}</div>
            <br />
            <div>Mental: {{character.mental}}</div>
            <br /> -->
                        <div> Times Rested:
                            <!-- <mat-form-field class="consumable" appearance="outline"> -->
                            <input class="consumable" matInput placeholder="{{character.timesRested}}">
                            <!-- </mat-form-field> -->
                        </div>
                    </md-content>

                </mat-grid-tile>
            </mat-grid-list>
            <!-- <app-roll-info></app-roll-info> -->
        </span>
    </div>
</div>