.player_roll {
    border: 3px solid rgb(68,68,68);
    font-weight: normal;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 4px;
    border-radius: 16px;
    background: rgb(55,55,55);
    color: #757677;
    margin-top: -70px;
  }

.tactic {
  width: 150px;
}
  
.roll{
    background-color: rgb(55,55,55);
    border: none;
    background-image: url("../../assets/layout/arrow_double_down.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 45px;
  }
  
.roll.down:hover  {
    background-color: #f1e3e5;
  }
  
.up {
    transform: rotate(180deg);
}
  
.stat_roll_line {
    width: 60px;
    text-align: center;
    color: #0eb0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.formDisabled {
  opacity: 50%;
  color: black;
}