<form class="player_roll" [formGroup]="rollInfoForm">
    <ng-container formGroupName="playerInfo">
        <label class="top_header wide">Dice pool</label>
        <input class="wide dice" type="number" min="0" onkeypress="validate(event)" formControlName="dicePool">
        <select class="wide tactic" formControlName="playerTactic">
            <option selected disabled hidden>Choose tactic...</option>
            <option *ngFor="let tactic of Tactic | keyvalue" value="{{tactic.value}}"> {{tactic.value}}</option>
        </select>
    </ng-container>
    <button class="roll down wide" (click)="rollDice()" [ngClass]="{'ready' : readyToRoll()}"></button>
    <label class="top_header stat_roll_line"></label>
    <label class="stat_roll_line">{{numOfSuccesses}}</label>
    <label class="top_header stat_roll_line"></label>
    <div class="roll up wide"></div>
    <ng-container formGroupName="gmInfo">
    <select formEnabledControl [enableControl]="parentEnabledGM.value" [ngClass]="{'formDisabled' : !parentEnabledGM.value}"
        class="wide tactic opposing" formControlName="gameMasterTactic">
        <!--formControlName="gameMasterTactic"-->
        <option selected disabled hidden>Choose tactic...</option>
        <option *ngFor="let tactic of Tactic | keyvalue" value="{{tactic.value}}"> {{tactic.value}}</option>
    </select>
    <input class="wide tn opposing" type="number" onkeypress="validate(event)" formControlName="targetNumber">
    <label class="bottom_header wide">Target Number (TN)</label>
    </ng-container>
</form>

<!-- <div> 
    <button mat-raised-button color="primary" (click)="rollDie()">Roll</button>
    Result: {{currentRoll}}
</div> -->