<form class="player_roll">
    <label class="top_header wide">dice pool</label>
    <input class="wide dice" type="number" value="0" onkeypress="validate(event)">
    <select class="wide tactic">
        <option value="tactic0">tactic</option>
        <option value="tactic1">..</option>
        <option value="tactic2">...</option>
        <option value="tactic3">....</option>
    </select>
    <div class="roll down wide" onclick="roll()"></div>
    <label class="top_header stat_roll_line"></label>
    <label class="stat_roll_line"></label>
    <label class="top_header stat_roll_line"></label>
    <div class="roll up wide"></div>
    <select class="wide tactic opposing">
        <option value="tactic0">tactic</option>
        <option value="tactic1">..</option>
        <option value="tactic2">...</option>
        <option value="tactic3">....</option>
    </select>
    <input class="wide tn opposing" type="number" value="0" onkeypress="validate(event)">
    <label class="bottom_header wide">TN</label>
</form>

<!-- <div> 
    <button mat-raised-button color="primary" (click)="rollDie()">Roll</button>
    Result: {{currentRoll}}
</div> -->